body, html {
  height: 95%;
}

.bg
{
	background-image: url("back.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#basic
{
	font-family: Didot, serif;
	font-variant: small-caps;
	font-size: 1000%;
	color: #2200419d;
	letter-spacing:10%;
	text-align: center;
	line-height: 46%;
}

#subtitle
{
	font-family: Didot, serif;
	font-variant: small-caps;
	font-size: 200%;
	font-style: italic;
	color: #90d337;
	letter-spacing:1pt;
	text-align: right;
	line-height: 120%;
	padding-right: 2%;

}

#menu
{
	font-family: Didot, serif;
	font-variant: small-caps;
	font-size: 110%;
	color: #90d337;
	letter-spacing:1pt;
	text-align: center;
	line-height: 180%;
	text-decoration: underline #610a00;
}

#menu2
{
	font-family: Didot, serif;
	font-variant: small-caps;
	font-size: 110%;
	color: #b91301;
	letter-spacing:1pt;
	text-align: center;
	line-height: 180%;
	text-decoration: underline #610a00;
}

#text
{
	font-family: Didot, serif;
	font-size: 110%;
	color: #decba3;
	text-align: left;
	line-height: 100%;
}

#textimp
{
	font-family: Didot, serif;
	font-variant: small-caps;
	font-size: 110%;
	color: #90d337;
	letter-spacing:1pt;
	text-align: left;
	line-height: 80%;
}

.mancer
{
	width:48.5%;
	float:top;
	margin:1%;
	margin-left:0%;
}

.mancer2
{
	width:48.5%;
	float:left;
	margin:1%;
}

.studio
{
	width:48%;
	float:right;
	margin:1%;
	margin-left:0%;
}

.studio2
{
	width:48%;
	float:left;
	margin:1%;
}

.silver
{
	width:48%;
	float:right;
	margin:1%;
	margin-left:0%;
}

.silver2
{
	width:48%;
	float:left;
	margin:1%;
}

img.darker {
	transition: all 0.2s ease-in-out;
  }
  
  img.darker:hover {
	filter: brightness(50%);
  }