body, html

#background
{
	background: rgb(52,52,58);
	background: radial-gradient(circle, rgba(52,52,58,1) 32%, rgba(82,19,19,1) 100%);
	height: 100%;
	width: 100%;
	overflow: hidden;
}


#paragraphback
{
	background: rgb(52,52,58);
	background: linear-gradient(18deg, rgba(52,52,58,0.4) 14%, rgba(52,51,57,0.7) 16%, rgba(157,0,0,1) 100%);
	width:100%;
	height:100%;
}

#paragraphback2
{
	background: rgb(154,135,167);
	background: linear-gradient(330deg, rgba(109,61,25,0.8) 0%, rgba(35,42,48,0.2) 60%);
	width:100%;
	height:100%;
	border: 10px solid black;
}

#paragraph
{
	font-family: helvetica;
	font-variant: small-caps;
	font-size: 90%;
	color: #ab580b;
	letter-spacing:2pt;
}

#sideparagraph
{
	font-family:helvetica;
	font-variant: small-caps;
	font-size:90%;
	color: white;
	letter-spacing:2pt;
}

#header
{
	font-family: helvetica;
	font-variant: small-caps;
	font-size: 500%;
	color: #ab580b;
	letter-spacing:10px;
}

#footer
{
	position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}
